{% extends 'main.html' %} 
{% block content %}
<section class="valid_otp_sec">
  <div class="heading">
    <h1>...Pin Validation...</h1>
  </div>
  <form action="" method="POST" class="form_otp">
    {% csrf_token %}
    <div class="valid_otp_div">
      <label for="">ACCOUNT NUMBER</label>
      <input type="number" name="acc" id="" placeholder="Enter Account Number..."/>
    </div>
    <div class="valid_otp_div">
      <label for="">OTP</label>
      <input type="number" name="otp" id="" maxlength="6" placeholder="Enter The OTP...." />
    </div>
    <div class="valid_otp_div">
      <label for="">PIN</label>
      <input type="password" name="pin1" id="" placeholder="Enter The Pin..." maxlength="4"/>
    </div>
    <div class="valid_otp_div">
      <label for="">CONFIRM PIN</label>
      <input type="password" name="pin2" id="" placeholder="Enter the Confirm pin.." maxlength="4"/>
    </div>
    <div class="valid_btn">
      <button type="submit">SET PIN</button>
    </div>
  </form>
</section>
{% endblock content %}
